---
import BaseLayout from "../layouts/CV_Layout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";

import BackgroundLayout from "../layouts/BackgroundLayout.astro";
import TimelineHorizontalCard from "../components/TimelineHorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

// Importations...
const projects = await getCollection("project");

// Project selection
const bachelor_project = projects.find(
  (project) => project.data.title === "Bachelor's Project: Fluid Simulation Raytracing Rendering"
);

const ruby_project = projects.find(
  (project) => project.data.title === "Ruby and The Lost Crystals"
);

const pathtracer_project = projects.find(
  (project) => project.data.title === "PathTracer in CUDA"
);

const opengl_project = projects.find(
  (project) => project.data.title === "OpenGL 3D Scene in PBR"
);

const minecraft_project = projects.find(
  (project) => project.data.title === "Minecraft clone in DirectX11"
);

const rollback_project = projects.find(
  (project) => project.data.title === "Penguins battle !"
);

const physics_project = projects.find(
  (project) => project.data.title === "2D Physics Engine"
);

const selectedTitles = [
  "Space Platformer",
  "Penguin Card Master",
];

const games_projects = projects.filter((project) =>
  selectedTitles.includes(project.data.title)
);
---
<style>
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: none;
  }
}
</style>

<BaseLayout title="About me" sideBarActiveItemID="cv">

  <div class="fade-in mb-10 mt-12">
    <img src="/cv/banniere.jpg" alt="About me" style="border-radius: 16px; width: 100%;" />
  </div>
  
  <div class="mb-10 grid gap-8 md:grid-cols-12 items-stretch">
    <!-- Texte -->
    <div class="md:col-span-8 self-stretch">
      <h1 class="text-4xl font-bold mb-6">Hello !</h1>
      <div class="space-y-6 text-2xl max-w-prose">
        <p class="text-justify">
          My name is Olivier, I am a video game developer specialising in graphics programming,
          and I have just obtained my bachelor's degree in Games Programming from the SAE Institute Geneva.
        </p>
        <p class="text-justify">
          Passionate about real-time rendering technologies, I am looking to put my technical skills
          at the disposal of a team to create memorable interactive experiences.
        </p>
        <p class="text-justify">
          Although I am focused on graphics programming, I also thrive on all aspects of game development.
        </p>
      </div>
    </div>
  
    <!-- Image -->
    <div class="md:col-span-4">
      <div class="h-full">
        <img
          src="/pp2.jpg"
          alt="Olivier Pachoud"
          class="h-full w-full object-cover rounded-3xl shadow-2xl"
        />
      </div>
    </div>
  </div>
  

   <div class="mb-5">
    <div class="text-4xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Science in Games Programming | 2022 to 2025 at SAE-Institute, Geneva, Switzerland."
      subtitle="Throughout the program, I have acquired strong skills in C++, C#, Unity, Unreal Engine, OpenGL, and DirectX 11/12. The curriculum includes classical programming courses as well as specialized modules such as game engine architecture, physics simulation, assembly, performance optimization and profiling, computer graphics, computer networking (including rollback systems), and game design theory."
    />
    <TimeLineElement
      title="Swiss Federal Baccalaureate (High School) | 2019 to 2022 at Yverdon-les-Bains High School, Switzerland"
      subtitle="I completed my Baccalaureate, with a specific focus on Economics and Law, and a complementary course in Computer Science. My final thesis was dedicated to programming my first video game using Python."
    />
  </div>

  <div class="mb-5">
    <div class="text-4xl w-full font-bold">Experience</div>
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Graphics Programming</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Bachelor's Project: DXR Raytracing Rendering of Dynamic and Implicit Fluid"
      subtitle="From March 2025 to July 2025 at SAE-Institute."
    >
      In my thesis and bachelor's project, I sought to answer the following question: ‘What are the challenges of representing a dynamic and implicit fluid in a raytracing pipeline with the DXR API?’
      <br>To do this, I implemented raymarching in a custom intersection shader and also implemented the Marching Cubes algorithm to create a dynamic mesh for DXR acceleration structure.
      {bachelor_project && (
        <>
        <div class="mt-4">
          <TimelineHorizontalCard
            title={bachelor_project.data.title}
            img={bachelor_project.data.heroImage}
            desc={bachelor_project.data.description}
            url={`/project/${createSlug(bachelor_project.data.title, bachelor_project.slug)}`}
            target="_self"
            badge={bachelor_project.data.state}
            infos={bachelor_project.data.infos}
            frameImg="/index/frame_dialog.png"
          />
          <div class="divider my-4" />
        </div>
        </>
      )}
    </TimeLineElement>

    <TimeLineElement
      title="Ruby and The Lost Crystals: Unreal Engine 5 Team Game Project"
      subtitle="From September 2024 to February 2025 at SAE-Institute."
    >
    During this group project, I had the following roles: <br>Project Co-leader, Lead Game Programmer, Graphics Programmer & Tech Artist.’
    <br>As Lead Programmer, I was responsible for making technical decisions, assigning and managing the programming team, and building the project's code architecture.
    <br>As Graphics Programmer and Tech Artist, I created a Cel-Shader following PBR rules in post-processing in Unreal to reinforce the stylised art direction of our game, and I did most of the VFX and visual feedback.
      {ruby_project && (
        <>
        <div class="mt-4">
          <TimelineHorizontalCard
            title={ruby_project.data.title}
            img={ruby_project.data.heroImage}
            desc={ruby_project.data.description}
            url={`/project/${createSlug(ruby_project.data.title, ruby_project.slug)}`}
            target="_self"
            badge={ruby_project.data.state}
            infos={ruby_project.data.infos}
            frameImg="/index/frame_dialog.png"
          />
          <div class="divider my-4" />
        </div>
        </>
      )}
    </TimeLineElement>
    <TimeLineElement
      title="Pathtracer in CUDA"
      subtitle="From June 2024 to August 2024 during my personal working time."
    >
    After reading and implementing the path tracer from the e-book ‘Raytracing in One Weekend’, I decided to reimplement it in CUDA and continue with the second book, ‘Raytracing the Next Week’.
    <br>My goal was to learn the math and algorithms behind photorealistic images while testing a new GPU technology.
    {pathtracer_project && (
        <>
        <div class="mt-4">
          <TimelineHorizontalCard
            title={pathtracer_project.data.title}
            img={pathtracer_project.data.heroImage}
            desc={pathtracer_project.data.description}
            url={`/project/${createSlug(pathtracer_project.data.title, pathtracer_project.slug)}`}
            target="_self"
            badge={pathtracer_project.data.state}
            infos={pathtracer_project.data.infos}
            frameImg="/index/frame_dialog.png"
          />
          <div class="divider my-4" />
        </div>
        </>
      )}
    </TimeLineElement>
    <TimeLineElement
      title="OpenGL 3D scene in Deferred Shading and PBR."
      subtitle="From November 2023 to February 2024 at SAE-Institute."
    >
    During the computer graphics course module at SAE, we explored rasterization and implemented our own graphics engine in C++/OpenGL. 
    <br>By the end, I was able to create a 3D scene from scratch using deferred shading with PBR and IBL shading.
   
      {opengl_project && (
        <>
        <div class="mt-4">
          <TimelineHorizontalCard
            title={opengl_project.data.title}
            img={opengl_project.data.heroImage}
            desc={opengl_project.data.description}
            url={`/project/${createSlug(opengl_project.data.title, opengl_project.slug)}`}
            target="_self"
            badge={opengl_project.data.state}
            infos={opengl_project.data.infos}
            frameImg="/index/frame_dialog.png"
          />
          <div class="divider my-4" />
        </div>
        </>
      )}
    </TimeLineElement>
    <TimeLineElement
    title="Mini Minecraft clone in DirectX 11"
    subtitle="During my personal working time in December 2023"
  >
  During my winter holidays, I created a small procedural Minecraft world using Perlin noise with the DirectX 11 API. I also implemented a first-person player controller with collisions and forces.
  <br>This is my first concrete graphics project (I had already done some very basic programming in OpenGL).
  {minecraft_project && (
      <>
       <div class="mt-4">
        <TimelineHorizontalCard
          title={minecraft_project.data.title}
          img={minecraft_project.data.heroImage}
          desc={minecraft_project.data.description}
          url={`/project/${createSlug(minecraft_project.data.title, minecraft_project.slug)}`}
          target="_self"
          badge={minecraft_project.data.state}
          infos={minecraft_project.data.infos}
          frameImg="/index/frame_dialog.png"
        />
        <div class="divider my-4" />
      </div>
      </>
    )}
  </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Game and Engine Programming</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Rollback Game"
      subtitle="During April 2024 at SAE-Institute."
    >
    During the Computer Networks course module, I created an online multiplayer brawler game with an integrated rollback system.
    <br>In my opinion, this is the program with the best code architecture of all my projects.
    {rollback_project && (
        <>
        <div class="mt-4">
          <TimelineHorizontalCard
            title={rollback_project.data.title}
            img={rollback_project.data.heroImage}
            desc={rollback_project.data.description}
            url={`/project/${createSlug(rollback_project.data.title, rollback_project.slug)}`}
            target="_self"
            badge={rollback_project.data.state}
            infos={rollback_project.data.infos}
            frameImg="/index/frame_dialog.png"
          />
          <div class="divider my-4" />
        </div>
        </>
      )}
    </TimeLineElement>

    <TimeLineElement
      title="2D Physics Engine"
      subtitle="From October 2023 to November 2023 at SAE-Institute."
    >
    During the course module on physics and CPU architecture as well as optimisation in C++, I created a 2D physics engine from scratch, optimising it as best I could.
    <br>This is the most optimised project I have ever done.
    {physics_project && (
        <>
        <div class="mt-4">
          <TimelineHorizontalCard
            title={physics_project.data.title}
            img={physics_project.data.heroImage}
            desc={physics_project.data.description}
            url={`/project/${createSlug(physics_project.data.title, physics_project.slug)}`}
            target="_self"
            badge={physics_project.data.state}
            infos={physics_project.data.infos}
            frameImg="/index/frame_dialog.png"
          />
          <div class="divider my-4" />
        </div>
        </>
      )}
    </TimeLineElement>
    <TimeLineElement
    title="My beginnings as a Game Programmer"
    subtitle="From 2022 to 2023 at SAE-Insitute."
  >
  During the early stages of my studies, I created many games using C++ and Unity. The two games I am most proud of are listed below.
  <br>Penguin Card Master is a rogue-lite game that taught me how to code AI, pathfinding, procedural dungeon generation, and how to maintain a GDD.
  <br>Space Platformer is the game with the gameplay I am most proud of.
  {
     games_projects.map((project) => (
          // Add a condition to render only projects that meet specific criteria
          project && (
            <>
             <div class="mt-4">
              <TimelineHorizontalCard
                title={project.data.title}
                img={project.data.heroImage}
                desc={project.data.description}
                url={`/project/${createSlug(project.data.title, project.slug)}`}
                target="_self"
                badge={project.data.state}
                infos={project.data.infos}
                frameImg="/index/frame_dialog.png"
              />
              <div class="divider my-4" />
            </div>
            </>
          )
        ))
    }
  </TimeLineElement>
  </div>

  <div class="mb-5 flex justify-center mt-4" style="position: relative;">
    <a href="/project" class="btn btn-outline text-lg w-full max-w-xs">
      View all my projects
    </a>
  </div>

  <div class="mb-5">
    <div class="text-4xl w-full font-bold">More about me</div>
  </div>

  <div class="mb-10 flex text-justify text-2xl w-full">
    I'm a 22-year-old junior developer, both rigorous and optimistic. I enjoy working as part of a team and love learning about others’ roles and passions.
    <br>My favorite and most inspiring games are Super Mario Galaxy, Zelda: Breath of the Wild, and Xenoblade Chronicles 2.
    <br>I also have a strong interest in strategy and card games, especially Hearthstone and Slay the Spire.
    <br>Outside of video games, I like going to the cinema, travelling, and swimming.
    <br>I also play the piano a little in my spare time.
  </div>

  <div class="mb-5">
    <div class="text-4xl w-full font-bold">CV</div>
  </div>

  <div class="mb-5 flex justify-left mt-4" style="position: relative;">
    <a href="/cv/CV_OlivierPachoud.pdf" class="btn btn-outline text-lg w-full max-w-xs">
      Download my CV (PDF)
    </a>
  </div>

  <!-- <iframe src="https://docs.google.com/gview?url=https://chocolive24.github.io/cv/CV_OlivierPachoud.pdf&embedded=true" 
  style="width:100%; height:1240px;" frameborder="0"></iframe> -->

  <!-- <div class="mb-5">
    <p style="text-align: center; margin-top: 1rem;">
      <a href="https://chocolive24.github.io/cv/CV_OlivierPachoud.pdf" download target="_blank" rel="noopener noreferrer">
        👉 Download my CV (PDF)
      </a>
    </p>
  </div> -->
 
<object data='/cv/CV_OlivierPachoud.pdf#toolbar=1' 
  type='application/pdf' 
  width='100%' height='1240px'>
</object>

  <!-- <iframe src="http://docs.google.com/gview?url=http://chocolive24.github.io/cv/CV_OlivierPachoud.pdf&embedded=true" 
style="width:600px; height:500px;" frameborder="0"></iframe> -->

 

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C++</li>
    <li>C</li>
    <li>C#</li>
    <li>Unreal</li>
    <li>Unity</li>
    <li>Perforce</li>
    <li>Git</li>
    <li>CMake</li>
    <li>Vcpkg</li>
    <li>DirectX11-12</li>
    <li>OpenGL</li>
    <li>CUDA</li>
    <li>Python</li>
    <li>Photon Realtime</li>
    <li>Docker</li>
    <li>FastAPI</li>
  </ul> -->


</BaseLayout>
