---
import BaseLayout from "../layouts/BaseLayout.astro";
import BackgroundLayout from "../layouts/BackgroundLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 2);

const projects = (await getCollection("project")).sort((a, b) => {
  // Sort by type first
  const typeOrder = {
    'featured': 1,
    'academic': 2,
    'personal': 3,
    'gamejam': 4
  };

  const typeA = a.data.type;
  const typeB = b.data.type;

  // Compare types using predefined order
  if (typeOrder[typeA] < typeOrder[typeB]) {
    return -1;
  } else if (typeOrder[typeA] > typeOrder[typeB]) {
    return 1;
  }

  // If types are the same, sort by 'top'
  if (a.data.top && b.data.top) {
    return parseInt(a.data.top) - parseInt(b.data.top);
  } else if (a.data.top) {
    return -1;
  } else if (b.data.top) {
    return 1;
  } else {
    return 0; // If neither have 'top', consider them equal
  }
});

// Take only the first two projects
const featured_projects = projects.filter(project => project.data.type === 'featured').slice(0, 2); 

const academic_projects = projects.filter(project => project.data.type === 'academic').slice(0, 2); 
const rollback_project = projects.find(
  (project) => project.data.title === "Penguin battle !"
);

const spaceplat_project = projects.find(
  (project) => project.data.title === "Space Platformer"
);

const personal_projects = projects.filter(project => project.data.type === 'personal').slice(0, 2); 
const pathtracer_project = projects.find(
  (project) => project.data.title === "PathTracer in CUDA"
);

const gamejam_projects = projects.filter(project => project.data.type === 'gamejam').slice(0, 1); 

---

<BackgroundLayout sideBarActiveItemID="home">
 <!--
  <div style="display: flex; align-items: center; gap: 24px; margin-bottom: 40px;">

    <img src="/index/Sapphire.png" alt="Sapphire" width="120" style="margin-left: 0px;">
      <div style="
      background: white;
      color: black;
      padding: 12px 20px;
      border-radius: 20px;
      font-weight: 600;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    ">
      Explore a showcase of my projects!
    </div>
  </div>
-->
    <div class="text-4xl w-full font-bold mb-2" style="position: relative;">
      Explore a showcase of my projects!
    </div>  

    <div class="text-2xl w-full font-bold mb-2" style="position: relative;">
      Favorite Projects
    </div>
      {
        featured_projects.map((project) => (
          // Add a condition to render only projects that meet specific criteria
          project.data.type === 'featured' && (
            <>
              <HorizontalCard
                title={project.data.title}
                img={project.data.heroImage}
                desc={project.data.description}
                url={`/project/${createSlug(project.data.title, project.slug)}`}
                target="_self"
                badge={project.data.state}
                infos={project.data.infos}
                frameImg="/index/frame_dialog.png"
              />
              <div class="divider my-0" />
            </>
          )
        ))
      }

    <div class="text-2xl w-full font-bold mt-4 mb-2" style="position: relative;">
      Personal Projects
    </div>
      {
          pathtracer_project && (
            <>
              <HorizontalCard
                title={pathtracer_project.data.title}
                img={pathtracer_project.data.heroImage}
                desc={pathtracer_project.data.description}
                url={`/project/${createSlug(pathtracer_project.data.title, pathtracer_project.slug)}`}
                target="_self"
                badge={pathtracer_project.data.state}
                infos={pathtracer_project.data.infos}
              />
              <div class="divider my-0" />
            </>
          )
      }
  
    <div class="text-2xl w-full font-bold mt-4 mb-2" style="position: relative;">
      Academic Projects
    </div>

      {
         rollback_project && (
            <>
              <HorizontalCard
                title={rollback_project.data.title}
                img={rollback_project.data.heroImage}
                desc={rollback_project.data.description}
                url={`/project/${createSlug(rollback_project.data.title, rollback_project.slug)}`}
                target="_self"
                badge={rollback_project.data.state}
                infos={rollback_project.data.infos}
              />
              <div class="divider my-0" />
            </>
          )
      }
      {
            spaceplat_project && (
            <>
              <HorizontalCard
                title={spaceplat_project.data.title}
                img={spaceplat_project.data.heroImage}
                desc={spaceplat_project.data.description}
                url={`/project/${createSlug(spaceplat_project.data.title, spaceplat_project.slug)}`}
                target="_self"
                badge={spaceplat_project.data.state}
                infos={spaceplat_project.data.infos}
              />
              <div class="divider my-0" />
            </>
          )
      }
  
    <div class="text-2xl w-full font-bold mt-4 mb-2" style="position: relative;">
      Game Jam Projects
    </div>
      {
        gamejam_projects.map((project) => (
          // Add a condition to render only projects that meet specific criteria
          project.data.type === 'gamejam' && (
            <>
              <HorizontalCard
                title={project.data.title}
                img={project.data.heroImage}
                desc={project.data.description}
                url={`/project/${createSlug(project.data.title, project.slug)}`}
                target="_self"
                badge={project.data.state}
                infos={project.data.infos}
              />
              <div class="divider my-0" />
            </>
          )
        ))
      }
  </div>
  
  <div class="flex justify-center mt-8" style="position: relative;">
    <a href="/project" class="btn btn-outline text-lg w-full max-w-xs border-white-500 text-white-500 hover:bg-blue-500 hover:text-white transition">
      View All Projects
    </a>
  </div>
  
  


  <div>
    <div class="text-4xl w-full font-bold mb-5 mt-10" style="position: relative;">My latest blog posts</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

<div class="flex justify-center mt-8" style="position: relative;">
  <a href="/project" class="btn btn-outline text-lg w-full max-w-xs border-white-500 text-white-500 hover:bg-blue-500 hover:text-white transition">
    View All Blog Posts
  </a>
</div>
</BackgroundLayout>
