---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 3);

const projects = (await getCollection("project")).sort((a, b) => {
  // Sort by type first
  const typeOrder = {
    'featured': 1,
    'academic': 2,
    'personal': 3,
    'gamejam': 4
  };

  const typeA = a.data.type;
  const typeB = b.data.type;

  // Compare types using predefined order
  if (typeOrder[typeA] < typeOrder[typeB]) {
    return -1;
  } else if (typeOrder[typeA] > typeOrder[typeB]) {
    return 1;
  }

  // If types are the same, sort by 'top'
  if (a.data.top && b.data.top) {
    return parseInt(a.data.top) - parseInt(b.data.top);
  } else if (a.data.top) {
    return -1;
  } else if (b.data.top) {
    return 1;
  } else {
    return 0; // If neither have 'top', consider them equal
  }
});



// const projects = (await getCollection("project")).sort((a, b) => {
//   if (a.data.top )

//   // First sort by if state == "active" and then by date
//   if (a.data.state === "active" && b.data.state !== "active") {
//     return -1;
//   } else if (a.data.state !== "active" && b.data.state === "active") {
//     return 1;
//   }

//   return b.data.startDate.valueOf() - a.data.startDate.valueOf();
// });

//const last_projects = projects.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Pachoud Olivier </div>
    <div class="text-3xl py-3 font-bold">Hello, I'm a graphics programmer currently doing a bachelor's degree at the SAE institute in Geneva. I'm also interested in game engine programming.</div>
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2"> Featured Projects
      These are my favorite projects, showcasing my expertise and passion for computer graphics programming.</div>
  </div> -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">
      Featured Projects
    </div>
    <div class="text-base w-full mb-4">
      These are my favorite projects, showcasing my expertise and passion for computer graphics programming.
    </div>
  
    <div class="text-3xl w-full font-bold mb-2">
      Academic Projects
    </div>
    <div class="text-base w-full mb-4">
      Projects completed during my Bachelor's degree, demonstrating my educational background and foundational skills.
    </div>
  
    <div class="text-3xl w-full font-bold mb-2">
      Personal Projects
    </div>
    <div class="text-base w-full mb-4">
      Projects developed in my free time, driven by curiosity and a desire to explore new technologies and techniques.
    </div>
  
    <div class="text-3xl w-full font-bold mb-2">
      Game Jam Projects
    </div>
    <div class="text-base w-full mb-4">
      Fast-paced, collaborative projects created during game jams, highlighting my ability to work under tight deadlines and contribute to team efforts.
    </div>
  </div> -->

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      Explore a showcase of my projects
    </div>
  
    <div class="text-xl w-full font-bold mb-2">
      Featured Projects
    </div>
  
    <div class="text-xl w-full font-bold mb-2">
      Academic Projects
    </div>
  
    <div class="text-xl w-full font-bold mb-2">
      Personal Projects
    </div>
  
    <div class="text-xl w-full font-bold mb-2">
      Game Jam Projects
    </div>
  </div>
  
  {
      projects.map((project) => (
      <>
          <HorizontalCard
            title={project.data.title}
            img={project.data.heroImage}
            desc={project.data.description}
            url={"/project/" + createSlug(project.data.title, project.slug)}
            target="_self"
            badge={project.data.state}
          />
          <div class="divider my-0" />
      </>
      ))
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">My last blogs</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
