---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import { ViewTransitions } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---
<!-- 
<script>
  function setupVideo() {
    const video = document.getElementById("background-video");

    if (!video) return;

    function saveVideoProgress() {
      sessionStorage.setItem("videoTime", video.currentTime);
      video.style.opacity = "0.0";
    }

    function restoreVideoProgress() {
      const savedTime = sessionStorage.getItem("videoTime");
      video.style.opacity = "0.0";
      video.pause();
      if (savedTime) {
        video.currentTime = parseFloat(savedTime);
        video.onseeked = () => {
          video.style.opacity = "1";
          video.play();
        };
      } else {
        video.style.opacity = "1";
      }
    }

    restoreVideoProgress();
    window.addEventListener("beforeunload", saveVideoProgress);
  }

  // document.addEventListener("astro:page-load", () => {
  //   setupVideo(); // Reapply video logic when switching pages
  // });

  if (!window.backgroundVideoInitialized) {
    window.backgroundVideoInitialized = true;
    setupVideo();
  }
</script> -->

<!doctype html>
<html lang="en" data-theme="synthwave">
  <head>
    <BaseHead title={title} description={description} image={image} ogType={ogType} />
    {TRANSITION_API && <ViewTransitions />}
    <style>
    /* Initially hide the video */
    .background-video-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        overflow: hidden;
        background-color: rgba(20, 10, 55, 0.7); /* Dark fallback color */
      }

      .background-video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        /* opacity: 0;  */
        transition: opacity 0.5s; 
      }

      /* Dark Overlay */
      .background-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(20, 10, 55, 0.7);
        z-index: -1;
      }
    </style>
  </head>
  <body>
    <!-- Persistent Video Background -->
    <div id="background-video-wrapper">
      <div class="background-video-container">
        <img class="background-video" src="/ruby/gifs/showcase.gif" width="250">
        </img>
        <!-- <video class="background-video" autoplay muted loop playsinline transition:persist id="background-video">
          <source src="/index/background_showcase_720p.webm" type="video/webm">
        </video> -->
      </div>
      <div class="background-overlay"></div>
    </div>

    <!-- Page Content -->
    <div class="drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-transparent">
        <Header title={title} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[1000px] max-w-[100vw] content">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>

   

  </body>
</html>
