---
import {type ProjectSchema} from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends ProjectSchema {}

const { title, description, startDate, endDate, heroImage, state, infos = [], tags = [], relatedBlogs = [] } = Astro.props;
dayjs.extend(localizedFormat);
const displayStartDate = dayjs(startDate).format("ll")
const displayEndDate = endDate ? dayjs(endDate).format("ll") : "Present";
import { Image } from "astro:assets";

import { getCollection } from "astro:content";
import HorizontalCard from '../components/HorizontalCard.astro';
import createSlug from "../lib/createSlug"

export async function getStaticPaths() {
  const postEntries = await getCollection("blog");
  return postEntries.map((entry) => ({
    params: { slug: createSlug(entry.data.title, entry.slug) },
    props: { entry },
  }));
}

const blogs = await getCollection("blog");
---

<BaseLayout title={title} description={description} image={heroImage} ogType="article">
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      {heroImage && <Image width={750} height={422} format="webp" src={heroImage} alt={title} class="w-full mb-6" />}
      
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      <time>{displayStartDate}</time> - <time>{displayEndDate}</time>
      <br />

      
      {/* Dynamic Badge Color Based on State */}
      {state && (
        <div 
          class={`badge my-1 ${state === "completed" ? "badge-success" : "badge-info"}`}
        >
          {state}
        </div>
      )}

        {/* Infos Section */}
           {infos && (
            <div class="flex items-center gap-4"> {/* Added gap for spacing between elements */}
              {Object.entries(infos).map(([icon, text]) => {
                return (
                  <div class="flex items-center gap-2">
                    <img src={icon} alt={text} class="w-5 h-5 text-current"/>
                    <span>{text}</span>
                  </div>
                );
              })}
            </div>
          )}

      {/* Tags Section */}
      {tags &&
        tags.map((tag) => (
          <a href={`/project/tag/${tag}`} class="badge badge-outline ml-2 no-underline">
            {tag}
          </a>
        ))
      }

      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
  
    {/* Fetch Related Blog Posts */}
    {relatedBlogs && relatedBlogs.length > 0 && (
      <section class="max-w-[750px] mt-8">
        <h2 class="text-3xl font-bold mb-8">Related Blog Posts</h2>
        
        {relatedBlogs.map((post_title) => {
          // Find the post with a matching title from all_posts
          const relatedPost = blogs.find((post) => {
            return post.data.title === post_title;
          });

          // If the post exists, render it
          if (relatedPost) {
            return (
              <HorizontalCard
                key={relatedPost.data.slug}
                title={relatedPost.data.title}
                img={relatedPost.data.heroImage}
                desc={relatedPost.data.description}
                url={"/blog/" + createSlug(relatedPost.data.title, relatedPost.slug)}
                badge={relatedPost.data.badge}
                tags={relatedPost.data.tags}
              />
            );
          } else {
            return null; // If no match is found, render nothing
          }
        })}
      </section>
)}
  
</BaseLayout>

